<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Check In</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/checkIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/form.css" asp-append-version="true" />

</head>

<body>
    <div class="main">

        <div class="check-in-container">
            <div class="check-in-title">Check In</div>
            <div class="line-break"></div>

            <div class="check-in-options">
                <button class="manual-check-in">In Person Check In</button>
                <button class="transfer-booking">Transfer Booking</button>
                <button class="register-customer">Register Customer</button>
            </div>
            <div class="check-in-info">
                For in person check-ins, if a customer has not been registered, please register them first
                and then check them in after. If a customer made a booking themselves then they have already been
                registered by
                the system, so the booking may be transferred into a renting.
            </div>
        </div>

        @* form to manually check in custumer (must register customer first if not registered) *@
        <div class="form-overlay" id="check-in-form" style="display: none;">
            <form asp-action="InPersonCheckIn" method="post"  class="form-container">
                <button type="button" class="close-button">X</button>
                <div class="form-title">In Person Check In</div>
                <div class="line-break"></div>
                
                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input name="hotelId" type="number" placeholder="Hotel ID" />
                    <input name="roomNumber" type="number" placeholder="Room Number" />
                </div>

                <select name="idType" class="id-select">
                    <option selected>choose id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input name="idNumber" type="text" placeholder="ID Number" />

                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input name="startDate" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date" />
                    <input name="endDate" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date" />
                </div>

                <select name="payementMethod" class="payment-method-select">
                    <option selected>Choose Payment Method</option>
                    <option>Credit</option>
                    <option>Debit</option>
                    <option>Cash</option>
                </select>

                <input name="amount" type="number" placeholder="Total Price" />

                <button type="submit" class="submit-button">Check In</button>
            </form>
        </div>

        @* form to tranfer a booking to a renting, actual tranferring is done by the database *@
        <div class="form-overlay" id="transfer-form" style="display: none;">
            <form class="form-container">
                <button type="button" class="close-button">X</button>
                <div class="form-title">Transfer Booking</div>
                <div class="line-break"></div>
                
                <input type="text" id="booking-hotelid" placeholder="HotelID" />
                <select name="idType" id="booking-id-type" class="id-select">
                    <option selected>Choose Customer Id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input name="idNumber" id="booking-id-number" type="text" placeholder="ID Number" />

                <button type="button" id="find-booking" class="submit-button" style="background-color:rgb(130, 110, 161);">Find Booking</button>

                <div class="transfer-info" id="found-booking-info" style="text-align: center;">Loading booking...</div>

                <select name="paymentMethod" class="payment-method-select">
                    <option selected>Choose Payment Method</option>
                    <option>Credit</option>
                    <option>Debit</option>
                    <option>Cash</option>
                </select>

                <input name="amount" type="number" placeholder="Total Price" />


                <button type="submit" class="submit-button">Transfer Booking</button>
            </form>
        </div>

        @* form to register a customer into the database *@
        <div class="form-overlay" id="register-customer-form" style="display: none;">
            <form class="form-container" asp-action="RegisterCustomer" method="post">
                <button type="button" class="close-button">X</button>
                <div class="form-title">Register Customer</div>
                <div class="line-break"></div>

                <select name="idType" class="id-select">
                    <option selected>choose id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input name="idNumber" type="text" placeholder="ID Number" />
                <input name="firstName" type="text" placeholder="First Name" />
                <input name="lastName" type="text" placeholder="Last Name" />

                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input name="streetNumber" type="text" placeholder="street number" />
                    <input name="streetName" type="text" placeholder="street name" />
                    <input name="province" type="text" placeholder="province" />
                    <input name="country" type="text" placeholder="country" />
                    <input name="postalCode" type="text" placeholder="postal code" />
                </div>

                <input name="phoneNumber" type="tel" placeholder="Phone number" />

                <button type="submit" class="submit-button">Register</button>
            </form>
        </div>
        
    </div>

    <script>
        let inPersonCheckInButton = document.querySelector(".manual-check-in");
        let checkInForm = document.getElementById("check-in-form");

        let transferBookingButton = document.querySelector(".transfer-booking");
        let transferForm = document.getElementById("transfer-form");

        let registerCustomerButton = document.querySelector(".register-customer");
        let registerForm = document.getElementById("register-customer-form");

        let buttons = [inPersonCheckInButton, transferBookingButton, registerCustomerButton];
        let forms = [checkInForm, transferForm, registerForm];

        let findBookingButton = document.getElementById("find-booking");
        let foundBookingInfo = document.getElementById("found-booking-info");

        findBookingButton.onclick = async function(){
            let bookingHotelId = document.getElementById("booking-hotelid").getAttribute("value");
            let bookingIdType = document.getElementById("booking-id-type").getAttribute("value");
            let bookingIdNumber = document.getElementById("booking-id-number").getAttribute("value");
            
            let response = await fetch("/Home/GetBooking?hotelId=${bookingHotelId}&idType=${bookingIdType}&idNumber=${bookingIdNumber}");
            
            console.log(response.json());
        }

        for (let i = 0; i < buttons.length; i++) {
            let b = buttons[i];
            let f = forms[i]

            b.onclick = function() {
                f.style.display = "block";
            }

            f.querySelector(".close-button").onclick = function () {
                f.style.display = "none";
            }
        }
    </script>

</body>