<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Check In</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/checkIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/form.css" asp-append-version="true" />

</head>

<body>
    <div class="main">
        <div class="check-in-container">
            <div class="check-in-title">Check In</div>
            <div class="check-in-options">
                <button class="manual-check-in">In Person Check In</button>
                <button class="transfer-booking">Transfer Booking</button>
                <button class="register-customer">Register Customer</button>
            </div>
        </div>

        @* form to manually check in custumer (must register customer first if not registered) *@
        <div class="form-overlay" id="check-in-form" style="display: none;">
            <div class="form-container">
                <button class="close-button">X</button>
                <div class="form-title">In Person Check In</div>
                <div class="line-break"></div>
                
                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input type="text" placeholder="HotelID"/>
                    <input type="number" placeholder="Room Number"/>
                </div>

                <select class="id-select">
                    <option selected>choose id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input type="text" placeholder="ID Number"/>

                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date"/>
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date"/>
                </div>

                <select class="payment-method-select">
                    <option selected>Choose Payment Method</option>
                    <option>Credit</option>
                    <option>Debit</option>
                    <option>Cash</option>
                </select>

                <button class="submit-button">Check In</button>
            </div>
        </div>

        @* form to tranfer a booking to a renting, actual tranferring is done by the database *@
        <div class="form-overlay" id="transfer-form" style="display: none;">
            <div class="form-container">
                <button class="close-button">X</button>
                <div class="form-title">Transfer Booking</div>
                <div class="line-break"></div>

                <select class="id-select">
                    <option selected>Choose Customer Id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input type="text" placeholder="ID Number"/>

                <select class="payment-method-select">
                    <option selected>Choose Payment Method</option>
                    <option>Credit</option>
                    <option>Debit</option>
                    <option>Cash</option>
                </select>

                <button class="submit-button">Transfer Booking</button>
            </div>
        </div>

        <div class="form-overlay" id="register-customer-form" style="display: none;">
            <div class="form-container">
                <button class="close-button">X</button>
                <div class="form-title">Register Customer</div>
                <div class="line-break"></div>

                <select class="id-select">
                    <option selected>choose id Type</option>
                    <option>SSN</option>
                    <option>Drivers License</option>
                    <option>Passport</option>
                </select>

                <input type="text" placeholder="ID Number"/>
                <input type="text" placeholder="First Name"/>
                <input type="text" placeholder="Last Name"/>

                <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                    <input type="text" placeholder="street number"/>
                    <input type="text" placeholder="street name"/>
                    <input type="text" placeholder="province"/>
                    <input type="text" placeholder="country"/>
                    <input type="text" placeholder="postal code"/>
                </div>

                <input type="text" placeholder="Phone number"/>

                <button class="submit-button">Register</button>
            </div>
        </div>
        
    </div>

    <script>
        let inPersonCheckInButton = document.querySelector(".manual-check-in");
        let checkInForm = document.getElementById("check-in-form");

        let transferBookingButton = document.querySelector(".transfer-booking");
        let transferForm = document.getElementById("transfer-form");

        let registerCustomerButton = document.querySelector(".register-customer");
        let registerForm = document.getElementById("register-customer-form");

        let buttons = [inPersonCheckInButton, transferBookingButton, registerCustomerButton];
        let forms = [checkInForm, transferForm, registerForm];

        for (let i = 0; i < buttons.length; i++){
            let b = buttons[i];
            let f = forms[i]

            b.onclick = function(){
                f.style.display = "block";
            }

            f.querySelector(".submit-button").onclick = function(){
                f.style.display = "none";
            }

            f.querySelector(".close-button").onclick = function(){
                f.style.display = "none";
            }
        }

    </script>
</body>