@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
</head>

<body>
    <div class="main">
        <div class="search-bar">
            <input type="text" placeholder="Search Hotels..."/>
            <input type="text" placeholder="Area..." />
            <input type="number" placeholder="Capacity" />
            <input type="date" placeholder="Start Date" />
            <input type="date" placeholder="End Date" />
        </div>
        
    </div>
</body>

