@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
        <link rel="stylesheet" href="~/searchBar.css" asp-append-version="true" />
    
</head>

<body>
    <div class="main">

        <div class="search-bar">
            <form action="/Home/Search" method="get">
                <input type="text" name="search" placeholder="Search Hotels..."/>
                <input type="text" name="area" placeholder="Area..." />
                <input type="number" name="capacity" placeholder="Capacity" />
                <input type="date" name="startDate" placeholder="Start Date" />
                <input type="date" name="endDate" placeholder="End Date" />
                <button type="submit">Search</button>
            </form>

        </div>

    </div>

    </style>
</body>

