@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/searchBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/home.css" asp-append-version="true" />

    
</head>

<body>
    <div class="main">

        <div class="search-bar">
            <form action="/Home/Search" method="get">
                <input class="hotel-search" type="text" name="search" placeholder="Search Hotels..."/>
                <input class="area" type="text" name="area" placeholder="Area" />
                <input class="capacity" type="number" name="capacity" placeholder="Capacity" />
                <input class="start-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date" />
                <input class="end-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date" />
                <button class="submit">
                    <img class="search-img" src="https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg" />
                </button>
            </form>

        </div>

        <div class="about-us">
            <div class="about-background"></div>
            <div class="name">
                The Room
            </div>

            <div class="about">
                 yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap
                  yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap yap 
            </div>

        </div>

        <div class="hotel-chains-list-container">
            <div class="hotel-chains-title">
                Hotel Chains
            </div>

            <div class="hotel-chains-list">
                <div class="chain">Hotel 1</div>
                <div class="chain">Hotel 2</div>
                <div class="chain">Hotel 3</div>
                <div class="chain">Hotel 4</div>
                <div class="chain">Hotel 5</div>
                <div class="chain">Hotel 6</div>
            </div>
        </div>

    </div>
</body>