@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/signIn.css" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <form asp-action="SignIn" method="post">
            <div class="login-container">
                <div class="name-holder">NAME</div>
                <div asp-validation-summary="All" class="error-msg"></div>
                <input name="username" class="username" type="text" placeholder="Username"/>
                <input name="password" class="password" type="password" placeholder="Password"/>
                <button name="action" value="Login" class="login">Login</button>
                <button name="action" value="SignUp" class="sign-in">Sign Up</button>
            </div>
        </form>

    </div>
</body>