@{
    ViewData["Title"] = "Sign In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/signIn.css" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="login-container">
            <div class="name-holder">NAME</div>
            <input class="username" type="text" placeholder="Username"/>
            <input class="password" type="password" placeholder="Password"/>
            <button class="login">Login</button>
            <button class="sign-in">Sign In</button>
        </div>
    </div>
</body>