<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
    

    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>

    <header>

        <ul class="nav-bar nav-bar-expand-sm nav-bar-toggleable-sm">
            <li class="nav-iteml"><a class="nav-link">LOGO</a></li>
            <li class="nav-iteml"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

            @if (Context.Session.GetString("Email") != "" && Context.Session.GetString("Email") != null){
                <li class="nav-iteml"><a class="nav-link">My Bookings</a></li>
                <li class="nav-itemr"><a class="nav-link"  asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a></li>
            } else {
                <li class="nav-itemr"><a class="nav-link"  asp-area="" asp-controller="Home" asp-action="SignIn">Sign In</a></li>
            }
            
            <li class="nav-itemr"><a class="nav-link" asp-controller="Home" asp-action="CheckIn">Check In</a></li>
            <li class="nav-itemr"><a class="nav-link" asp-controller="Home" asp-action="Manage">Manage</a></li>
        </ul>

    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    

</html>
