.search-bar{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;

}

.search-bar form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-search{
    height: 2.5em;
    width: 30em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3px;
}

.hotel-search::placeholder{
    padding-left: 2px;
}

.area{
    height: 2.5em;
    width: 5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3px;
    margin-left: 3px;
}

.area::placeholder{
    padding-left: 2px;
}

.capacity{
    height: 2.5em;
    width: 5.2em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3px;
    margin-left: 3px;
}

.capacity::placeholder{
    padding-left: 2px;
}

.start-date{
    height: 2.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3x;
    margin-left: 3px;
}

.start-date::placeholder{
    padding-left: 2px;
}

.end-date{
    height: 2.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3px;
    margin-left: 3px;
}

.end-date::placeholder{
    padding-left: 2px;
}

.submit{
    height: 3em;
    width: 3em;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(113, 69, 116);
    margin-right: 3px;
    margin-left: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.submit:hover{
    cursor: pointer;
}

.search-img{
    height:3em;
}

.search-img:hover{
    filter: brightness(0.75);
}

.search-img:active{
    filter: brightness(0.9);
}

.about-us{
    position: relative;
    display: block;
    overflow: hidden;
}

.name{
    text-align: center;
    font-size: 4em;
    font-family: serif;
    font-style: italic;
    padding-top: 0.5em;
    color: white;
}

.about{
    margin-top: 5em;
    margin-bottom: 8em;
    text-align: center;
    font-family: serif;
    font-style: italic;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.5em;
    color: white;
}

.about-background{
    position: absolute;
    background-image: url("https://wallpapercave.com/wp/wp2542286.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    background-position: -10%;
    filter: blur(2px) brightness(0.75);
    width: 105%;
    height: 105%;
}

html, body {
    height: 100vh;
}

.hotel-chains-list-container{
    position: relative;
    background-color: rgb(53, 45, 53);
    flex: 1;   
    display: flex;
    flex-direction: column;
}

.hotel-chains-title{
    text-align: center;
    font-size: 3em;
    font-family: serif;
    font-style: italic;
    padding-top: 0.5em;
    color: white;

}

.hotel-chains-list{
    display: grid;
    margin-top: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 1em;
    height: 100%;
}

.chain{
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin-bottom: 1em;
    opacity: 0.9;
}

