.filters-holder{
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.select-holder{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 4px;
    color: black;
    font-family: serif;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(113, 69, 116);
    padding-left: 4px;
    padding-right: 4px;
    height: 200%;
}

.select-title{
    height: 200%;
}

.price-input{
    height: 2.25em;
    text-align: center;
    width: 3.5em;
    border: none;
}

.rooms-input{
    height: 2.25em;
    text-align: center;
    width: 4em;
    border: none;
}

.rooms-input::placeholder{
    text-align: center;
}

.rooms-input:focus{
    outline: none;
}

.price-input::placeholder{
    text-align: center;
}

.price-input:focus{
    outline: none;
}

.filters-title{
    color: black;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    font-size: large;
}

.option-select{
    display: inline-block;
    height: 2.5em;
    border-width: 0;
}

.option-select:focus{
    outline: none;
    border: none;
}

.results-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1.5em;
}

.search-result{
    width: 60em;
    height: 16em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #90869f;
    padding: 0.75em;
    display: flex;

    animation-name: loadAnim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadAnim {
    from {
        opacity: 0;
        transform: scale(1.05) translateY(-5px);
    }
    to {
        opacity: 1;
        transform: scale(1.05) translateY(5px);
    }
}


.hotel-image{
    aspect-ratio: 1;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    margin-right: 1em;
}

.main-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
    flex: 1 1 1;
}

.info-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.75em;
    margin-bottom: 0.05em;
}

.price-range{
    font-family: serif;
    color: #595959;
    margin-left: auto;
}

.stars{
    font-family: serif;
    color: #595959;
    margin-left: 5%;
}

.hotel-name{
    color: #595959;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    font-size: large;
    text-align: center;
    font-size: x-large;
}

.result-body-holder{
    height: 100%;
    width: 100%;
    display: flex;
}

.other-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.address{
    font-size: small;
    color: #595959;
}

.total-capacity-chain{
    font-size: small;
    color: #595959;
}

.description{
    font-size: small;
    color: #595959;
}

.hotel-amenities{
    font-size: small;
    color: #595959;
}

.room-amenities{
    margin-top: 10px;
}

.line-break{
    background-color: #5959597f;
    height: 1px;
    width: 100%;
    margin-bottom: 0.5em;
}



.button-region{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.book-button{
    color: white;
    font-size: larger;
    white-space: nowrap;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: serif;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #3c3b3d;
    background-color: rgb(130, 110, 161);
    box-shadow: 0px 1px  #4f435d;

    transition: background-color 0.1s ease-in, transform 0.15s ease-in;
}

.book-button:hover{
    cursor: pointer;
    background-color: rgb(105, 85, 136);
    transform: scale(1.03) translateY(-5px);
}
.book-button:active{
    background-color: rgb(186, 170, 211);
    transform: scale(0.97);
}